<!DOCTYPE html>
<html lang="en">
<head>
    <title>My Groups</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="cdn/css/main.css">
    //- <script defer src="cdn/scripts/group.js"></script>
</head>
<body background= "cdn/images/hom.png" class ="background">

<div class= "jumbotron text-center bg-dark text-white" style="margin-bottom:50">
    <h1>GROUP HUB</h1>
    <p id= "1"></p>
</div>

<div class="container">
    <h2 >Groups joined</h2>
    <p >The groups you are a part of are listed below. You can request to leave if you want to.</p>            
    <table class="table table-hover table-transparent">
      <thead>
        <tr>
          <th>Group Name</th>
        </tr>
      </thead>
      <tbody>
        each item in items
         tr
          td=item
          <td class= "bg-dark text-white" type= "button" id = "addGroupButton" value="Create group">Request to leave</td>
          <td class= "bg-dark text-white" type= "button" id = "chatButton" value="Create group">Open Chats</td>
</tbody>
</table>
</div>

<script defer src="cdn/scripts/group.js"></script>
</body>