<!DOCTYPE html>
<html lang="en">
<head>
    <title>WELCOME</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<div class= "jumbotron text-center bg-dark text-white"> 
    <h1>WELCOME To THA Greatest APP EVER!</h1>
    <p>No really, it's awesome- Rotshi</p>
</div> 
<form action="/api/" method="post"> <!-- sends form content to certain method in route, node file -->
<div class="col-md-12 text-center">

<!-- <button class= "btn btn-dark" type="submit">login</button> -->
<a href="/login">Login</a>
<a href="/signup">Sign Up</a>
<!-- </div> -->
<!-- <div class=""></div> -->
<!-- <div class="col-md-12 text-center"> -->
<!-- <button class= "btn btn-dark" type="submit">sign-up</button> -->
</div>
<!-- <signup></signup> -->
</div>
</form>
</body>