<!DOCTYPE html>
<html lang="en">
<head>
    <title>Search Groups</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="cdn/css/main.css" />
    <!-- <script defer src="cdn/scripts/group.js"></script>  -->
</head>
<body background= "cdn/images/hom.png" class ="background">

<div class= "jumbotron text-center bg-dark text-white" style="margin-bottom:50">
    <h1>SEARCH AND JOIN GROUPS</h1>
    <p id= "1"></p>
</div>

<div class = "text-center">
    <!--<form action="/lobby/api/createGroup" method="post">  -->
    <!-- <form action="/api/createGroup" method="post">     -->
    <div> 
        <p class="err-msg" id= "err-msg">
        </p>
    </div> 
        <div>
            <h1>Enter group</h1>
        </div>
        <div class = "form-group"> 
         <label>Group name: </label>
         <input type= "text" name= "group" id="group-name" placeholder="Enter your group name" required />
         </div>
        <div class= "form-group">
            <input type= "submit" id = "addGroupButton" value="Create group" />
        </div>
        
    <!-- </form> -->
    </div>
<script defer src="cdn/scripts/group.js"></script>
</body>