<!DOCTYPE html>
<html lang="en">
<head>
    <title>WELCOME</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> -->
    <link rel="stylesheet" href="cdn/css/bootstrap.css" />
    <link rel="stylesheet" href="cdn/css/main.css" />
    <script defer src="cdn/scripts/group.js"></script>
</head>
<body background="cdn/images/home.png">

<div class= "jumbotron text-center bg-dark text-white"> 
    <h1>LOBBY</h1>
    <p id = "p">;-)</p>
</div>

<div class = "form">
<form action="/logout?_method=DELETE" method="post"> <!--Decide on weither to put logout here or in lobby-->
    <div>
        <input type= "submit" value="Log Out" />
    </div>
</form>
<div></div>
<!-- <div class = "form"> -->
<form action="/groups" method="get"> <!--Decide on weither to put logout here or in lobby-->
    <div>
        <input type= "submit" value="Groups" />
    </div>
</form>
</div>
<!-- <a href="/signup" class="btn btn-dark" role="button">Sign-Up</a> -->
</div> 
</body>
</html>