<!DOCTYPE html>
<html lang="en">
<head>
    <title>WELCOME</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body background="cdn/images/home.png">
<div class= "jumbotron text-center bg-dark text-white"> 
    <h1>Online meeting setup</h1>
</div>  <!-- sends form content to certain method in route, node file -->
<div class="col-md-12 text-center">
    <form action="/api/meeting" method="post">
        <input type= "meeting" name= "meeting" id="meeting" placeholder="Paste message link" required />
        <br></br>
        <input type= "group" name= "group"  id="group"  placeholder="Enter group number" required />
        <br></br>
        <input type= "submit" value="Schedule meeting" />
    </form>
</div>

<div><button onclick="myFunction()">Access zoom (Requires account)</button></div>

</body>

<script>
    function myFunction() {
        window.open("https://zoom.us/signin",
                    "", "width=300, height=300");
    }
</script>