<!DOCTYPE html>
    <html lang="en"> 
        <head> 
            <title>Groups</title> 
            <meta charset="utf-8" /> 
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
            <!-- <script src="/cdn/scripts/houseList.js"></script> -->
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
            <script src="/groups.js"></script>
            <style> 
                input[type=text] {
                  width: 30%;
                  padding: 12px 20px;
                  margin: 8px 0;
                  box-sizing: border-box;
                }
                </style>
                <style type="text/css">
                    .form-style-5{
                        max-width: 500px;
                        padding: 10px 20px;
                        background: #f4f7f8;
                        margin: 10px auto;
                        padding: 20px;
                        background: #f4f7f8;
                        border-radius: 8px;
                        font-family: Georgia, "Times New Roman", Times, serif;
                    }
                    .form-style-5 fieldset{
                        border: none;
                    }
                    .form-style-5 legend {
                        font-size: 1.4em;
                        margin-bottom: 10px;
                    }
                    .form-style-5 label {
                        display: block;
                        margin-bottom: 8px;
                    }
                    .form-style-5 input[type="text"],
                    .form-style-5 textarea,
                    .form-style-5 select {
                        font-family: Georgia, "Times New Roman", Times, serif;
                        background: rgba(255,255,255,.1);
                        border: none;
                        border-radius: 4px;
                        font-size: 15px;
                        margin: 0;
                        outline: 0;
                        padding: 10px;
                        width: 100%;
                        box-sizing: border-box; 
                        -webkit-box-sizing: border-box;
                        -moz-box-sizing: border-box; 
                        background-color: #e8eeef;
                        color:#8a97a0;
                        -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
                        box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
                        margin-bottom: 30px;
                    }
                    .form-style-5 input[type="text"]:focus,
                    .form-style-5 textarea:focus,
                    .form-style-5 select:focus{
                        background: #d2d9dd;
                    }
                    .form-style-5 select{
                        -webkit-appearance: menulist-button;
                        height:35px;
                    }
                    .form-style-5 .number {
                        background: #1abc9c;
                        color: #fff;
                        height: 30px;
                        width: 30px;
                        display: inline-block;
                        font-size: 0.8em;
                        margin-right: 4px;
                        line-height: 30px;
                        text-align: center;
                        text-shadow: 0 1px 0 rgba(255,255,255,0.2);
                        border-radius: 15px 15px 15px 0px;
                    }
                    
                    .form-style-5 input[type="submit"],
                    .form-style-5 input[type="button"]
                    {
                        position: relative;
                        display: block;
                        padding: 19px 39px 18px 39px;
                        color: #FFF;
                        margin: 0 auto;
                        background: #1abc9c;
                        font-size: 18px;
                        text-align: center;
                        font-style: normal;
                        width: 100%;
                        border: 1px solid #16a085;
                        border-width: 1px 1px 3px;
                        margin-bottom: 10px;
                    }
                    .form-style-5 input[type="submit"]:hover,
                    .form-style-5 input[type="button"]:hover
                    {
                        background: #109177;
                    }
                    </style>
        </head> 
    <body background="cdn/images/home.png"> 
        ...
        <div class= "jumbotron text-center bg-dark text-white">
            <!-- <h1> Study Groups:</h1>
            <ul id = "Groups">

            </ul>
        
            <!-- List of Groups goes Here    -->
        </div> -->

        <div class="col-md-12 text-center">

            <h1>Remove a member from a group</h1>

            <form action="/api/vote" method="post">
            Groups <select name="group" id="group">
                <option value="" selected="selected">Select group</option>
            </select>
            <br><br>
            Member <select name="user" id="user">
                <option value="" selected="selected">Please select group first</option>
            </select>
            <br><br>
            <input type="submit" value="Remove member">  
            </form>
        </div>

    </body> 
</html>
<!-- 
</script>
</head>   
<body>

<h1>Remove a member from a group</h1>

<form action="/api/vote" method="post">
Groups <select name="group" id="group">
    <option value="" selected="selected">Select group</option>
  </select>
  <br><br>
Member <select name="user" id="user">
    <option value="" selected="selected">Please select group first</option>
  </select>
  <br><br>
  <input type="submit" value="Remove member">  
</form>

</body>
</html> -->